*.app
.build/
_build/
.DS_Store
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# swiftc -typecheck / -emit-module side-effects
*.swiftmodule
*.swiftdoc
*.swiftsourceinfo
*.abi.json
